.btn-apply {
  padding: 16px 32px;
  background-color: rgb(200, 70, 70);
  border-radius: 100px;
  background-image: linear-gradient(rgb(200, 70, 70),rgb(190, 40, 40),rgb(200, 70, 70));
  color: #EEEEEE;
  transition: background-color 0.5s, color 0.5s, padding 0.5s;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 10px rgba(0,0,5,0.3);
}

.btn-apply:hover {
  animation-name: bg-col-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bg-col-change {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 55px;
  }
}

.btn-apply:hover {
  background-color: rgb(200, 40, 40);
}
